.input-title {
  color: #9fa0a6;
  font-family: "Oxygen";
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
}
.input-main {
  background-color: #192338;
  border: 1px solid #3d3e4a;
  height: 51px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.input-main > input {
  width: 100%;
  height: 100%;
  color: #5b5c67;
  font-family: "Oxygen";
  font-size: 16px;
  font-weight: 400;
}
.input-main >button{
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}